@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Lato";
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  background: #000;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Lato";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background: url(/img/full_screen4.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px auto;
  justify-self: center;
  border: 3px solid #f3e84d;
  width: 646px;
  height: 646px;
  position: relative;
}

.game div {
  width: 32px;
  height: 32px;
}

.enemy {
  background: url(/img/Zombie.png) no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.player {
  background: url(/img/gan.png) no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50% 50% 50% / 100% 100% 0 0;
}

.bullet {
  background: url(/img/bullet.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.Score__text {
  color: wheat;
  text-align: center;
  font-size: 30px;
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 15px;
  text-transform: uppercase;
}

@media (max-width: 780px) {
  .Score__text {
    font-size: calc(16px + 13.6 * ((100vw -320px) / 1400));
  }
}

@media (min-width: 780px) {
  .Score__text {
    font-size: calc(16px + 8 * (100vw / 1400));
  }
}

.Popap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Popap__Modal {
  width: 300px;
  height: 200px;
  background: greenyellow;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  border-radius: 30px;
}

.Popap__Text {
  line-height: 200px;
  text-align: center;
}

@media (max-width: 780px) {
  .Popap__Text {
    font-size: calc(18px + 10.2 * ((100vw -320px) / 1400));
  }
}

@media (min-width: 780px) {
  .Popap__Text {
    font-size: calc(18px + 6 * (100vw / 1400));
  }
}

.Play__btn {
  width: 100px;
  height: 50px;
  text-transform: uppercase;
  background: #0534ce;
  color: white;
  letter-spacing: 1.8px;
  border-radius: 20px;
  text-align: center;
  line-height: 50px;
  position: relative;
  top: -70px;
  left: 20px;
  cursor: pointer;
  display: block;
}

@media (max-width: 780px) {
  .Play__btn {
    font-size: calc(15px + 8.5 * ((100vw -320px) / 1400));
  }
}

@media (min-width: 780px) {
  .Play__btn {
    font-size: calc(15px + 5 * (100vw / 1400));
  }
}

.Exit__btn {
  width: 100px;
  height: 50px;
  text-transform: uppercase;
  background: #ce050f;
  color: white;
  letter-spacing: 1.8px;
  border-radius: 20px;
  position: relative;
  position: relative;
  top: -120px;
  left: 180px;
  cursor: pointer;
  display: block;
}

@media (max-width: 780px) {
  .Exit__btn {
    font-size: calc(16px + 6.8 * ((100vw -320px) / 1400));
  }
}

@media (min-width: 780px) {
  .Exit__btn {
    font-size: calc(16px + 4 * (100vw / 1400));
  }
}

@media (max-width: 780px) {
  .game {
    margin: 10px auto;
    width: 566px;
    height: 566px;
  }
  .game div {
    width: 28px;
    height: 28px;
  }
  .Popap__Modal {
    width: 250px;
    height: 150px;
  }
  .Popap__Text {
    line-height: 150px;
  }
  .Play__btn {
    width: 80px;
    height: 40px;
    top: -50px;
    left: 20px;
    line-height: 40px;
  }
  .Exit__btn {
    width: 80px;
    height: 40px;
    top: -90px;
    left: 150px;
    line-height: 40px;
  }
}

@media (max-width: 580px) {
  .game {
    margin: 100px auto;
    width: 406px;
    height: 406px;
  }
  .game div {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 450px) {
  .game {
    margin: 150px auto;
    width: 306px;
    height: 306px;
  }
  .game div {
    width: 15px;
    height: 15px;
  }
}
